<!--
<h1>{{A}}</h1>
<h2>{{B}}</h2>
<h3>{{C}}</h3>
<h1> The answer is {{D}}</h1>
<button><a href='/'>Go back</a></button>
-->

<html>
    <head>
        <style>
            body{
                padding-top: 10%;
                padding-left: 525px;
            }
            div{
                border: 3px solid lightseagreen;
                width: 450px;
                padding-bottom: 25px;
                text-align: center;
                
            }
            p{
                font-size: 30px;
            }
            button{
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <div>
        <p>The Analogy is</p>
        <p>{{A}} is to {{B}}</p>
        <p>then</p>
        <p>{{C}} is to {{D}}</p>
        <br>
        <a href='/'><button>Go Back</button></a>
        </div>
    </body>
</html>